.goo,
.goo-container {
  width: 100%;
  height: 100%;
}

.goo {
  overflow: hidden;
  position: relative;
  transform: translateY(-4rem);

  > svg {
    position: 'absolute';
    width: 0;
    height: 0;
  }
}

.goo-container {
  position: absolute;
  overflow: hidden;
  filter: url('#goo');

  > svg {
    display: none;
  }
}

.goo-container > div {
  position: absolute;
  will-change: transform;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.6;

  &:nth-child(1) {
    $size: 120px;
    width: $size;
    height: $size;
    background: #61cdbb;

    &::after {
      top: $size/6;
      left: $size/6;
      width: $size/3;
      height: $size/3;
    }
  }

  &:nth-child(2) {
    $size: 180px;
    width: $size;
    height: $size;
    background: #e8c1a0;

    &::after {
      top: $size/6;
      left: $size/6;
      width: $size/3;
      height: $size/3;
    }
  }

  &:nth-child(3) {
    $size: 180px;
    width: $size;
    height: $size;
    background: #f47560;

    &::after {
      top: $size/6;
      left: $size/6;
      width: $size/3;
      height: $size/3;
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
  }
}
