html,
body {
  height: 100%;
  background-color: #fcfcfc;
}

body {
  background-color: #fcfcfc;
}
.container {
  .card,
  .card-content {
    height: 100%;
  }

  .ux,
  .ui {
    color: #eee;
    .title {
      color: #eee;
    }
  }
  .ux {
    background: #f4804d;
  }

  .ui {
    background: #4f57a5;
  }

  .qa {
    background: #fff;
  }
}
