.pagination {
  margin-top: 0.5em;
  .tag {
    user-select: none;
  }
}

.channel-listing {
  transition: all 0.3s;

  &.is-loading {
    opacity: 0.8;
    pointer-events: none;
  }
}

@media only screen and (max-width: 768px) {
  .channel-heading {
    .column:nth-child(1),
    .column:nth-child(2) {
      width: 50%;
    }

    .column:nth-child(2) {
      text-align: right;
      span:first-child {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .channel-heading {
    .column:nth-child(2) {
      span:last-child {
        display: none;
      }
    }
  }
}
