* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  overflow: auto;

  .section {
    position: relative;
    text-align: center;
    &.is-full-height {
      height: 100vh;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .columns,
  .column {
    height: 50vh;
  }
}
