.showtime {
  .column {
    min-width: 6rem;

    &:first-child {
      text-align: right;
      transform: translateX(-1.5em);
    }
  }

  &.is-show-on-now {
    &:first-child {
      font-weight: bold;
    }
  }

  margin-bottom: 0.5em;
}
