.channel-card {
  height: 100%;
  transition: all 0.3s;

  &.is-hoverable {
    &:hover {
      transform: translateY(-2px);
    }
  }

  .columns {
    .column:last-child {
      min-width: 0;
    }
  }

  animation: fadein 0.3s, rise 0.3s;
  img {
    opacity: 0;
    animation: fadein 0.6s forwards;
    animation-delay: 0.3s;
  }
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes rise {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(0px);
  }
}
