.channel-card {
  height: 100%;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-2px);
  }

  .columns {
    .column:last-child {
      min-width: 0;
    }
  }

  img {
    animation: fadein 0.3s;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
