.grid {
  > div {
    position: relative;
    > .card,
    > .card > .card-content {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.grid:not(:last-child) {
  margin-bottom: 1.5rem;
}
