.app {
  margin-bottom: 10em;
}
.grid {
  > div {
    position: relative;
    > .card,
    > .card > .card-content {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.grid:not(:last-child) {
  margin-bottom: 1.5rem;
}

body,
html,
#root {
  height: 100%;
}

a {
  color: #61cdbb;
}

input.input:focus {
  outline: 0;
  border-color: #61cdbb;
  &.is-danger {
    border-color: #f47560;
  }
}
